PORT=1234
MONGODB_URI="mongodb://127.0.0.1:27017/hamidev-nodejs-8324_local"
AUTH0_DOMAIN=dev-2hpdsowt.us.auth0.com
AUTH0_AUDIENCE=https://dev.hamidev.com/nodejs/8324/
MACHINE_TO_MACHINE_CLIENT_ID=machine_to_machine_client_id
MACHINE_TO_MACHINE_CLIENT_SECRET=machine_to_machine_client_secret
AUTH0_CUSTOM_RULE_NAMESPACE=this is the namespace that "you" define for your custom rule in Auth0 > Rules section, for instance: https://hamidev-nodejs-8324-src/
SENDGRID_API_KEY='the_key'
